<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments::head">
  </head>

  <body>

	<div th:replace="fragments::header"></div>	

    <div class="container">
            
        <div class="page-header">
        	<h1>Barang</h1>        	
        </div>
        
        <table id='tblUtama'></table>               
                
        <p>
          <a class="btn btn-primary" role="button" id="tambah" data-toggle="modal" data-target="#dialogTambah"><span class="glyphicon glyphicon-plus"></span> Tambah</a>
          <a class="btn btn-primary" role="button" id="hapus"><span class="glyphicon glyphicon-remove"></span> Hapus</a>
        </p>      
        
        <div class="modal fade" id="dialogTambah" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  		<div class="modal-dialog modal-lg">
	    		<div class="modal-content">
	      			<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        			<h4 class="modal-title" id="myModalLabel">Tambah Barang Baru</h4>
	      			</div>
	      			<div class="modal-body">
	        			<form class="form-horizontal">
	        				<div class="form-group">
	        					<label for="kodeBarang" class="col-sm-2 control-label">Kode Barang:</label>
	        					<div class="col-sm-10"><input type="text" class="form-control" id="kodeBarang" required="required"/></div>
	        				</div>
	        				<div class="form-group">
	        					<label for="namaBarang" class="col-sm-2 control-label">Nama Barang:</label>
	        					<div class="col-sm-10"><input type="text" class="form-control" id="namaBarang" required="required"/></div>
	        				</div>
	        				<div class="form-group">
	        					<label for="qty" class="col-sm-2 control-label">Qty:</label>
	        					<div class="col-sm-10"><input type="number" class="form-control" id="qty" required="required"/></div>
	        				</div>
	        			</form>
	      			</div>
	      			<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        			<button type="button" class="btn btn-primary" id="simpan">Simpan</button>
	      			</div>
	    		</div>
	  		</div>
		</div>
    </div> <!-- /container -->    

	<div th:replace="fragments::scripts"></div>
	
	<script>	
		$.fn.tabelku.defaults.checkStateChanged = function(e) {
        	var opacity = e.target.checked? 0.5: 1;
        	$(e.target).closest('tr').fadeTo('fast', opacity);
      	};

    	$.fn.tabelku.defaults.sebelumHapus = function(baris) {        
	        baris.fadeOut('fast', function() {
	          $(baris).remove();
	        })
	        return false;                      
	    };
	    
		$('#tblUtama').tabelku({
			kolom: [
		        {nama: 'kodeBarang', text: 'Kode Barang'},
		        {nama: 'namaBarang', text: 'Nama Barang'},
		        {nama: 'qty', text: 'Qty'}
	       	],
	       	data: [
       	        {kodeBarang: 'DUMMY-1', namaBarang: 'NAMA-DUMMY-1', qty: 999},
       	        {kodeBarang: 'DUMMY-2', namaBarang: 'NAMA-DUMMY-2', qty: 999},
       	    	{kodeBarang: 'DUMMY-3', namaBarang: 'NAMA-DUMMY-3', qty: 999},
	       	  	{kodeBarang: 'DUMMY-4', namaBarang: 'NAMA-DUMMY-4', qty: 999},
     	    ]
		});
		
		$('#hapus').click(function() {
			$('#tblUtama')[0].tabel.hapusBarisTerpilih();
		});
		
		$('#simpan').click(function() {
			var form = $('#dialogTambah').find('form')[0];
			if (form.checkValidity()) {
				var barangBaru = {
					kodeBarang: $("#kodeBarang").val(),
					namaBarang: $("#namaBarang").val(),
					qty: $("#qty").val()
				};
				$('#tblUtama')[0].tabel.tambahBaris(barangBaru);
				form.reset();
				$('#dialogTambah').modal('hide');
			}
		});
		
		$('#dialogTambah').on('shown.bs.modal', function() {
			$('#kodeBarang').focus();
		});
	</script>       
 </body>
</html>
