<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/head">
  </head>

  <body>

	<div th:include="fragments/header" th:remove="tag"></div>	

    <div class="container">
            
        <div class="page-header">
        	<h1>Barang</h1>        	
        </div>
        
        <div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" /></th>
						<th>Kode Barang</th>
						<th>Nama Barang</th>
						<th>Qty</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" /></td>
						<td>BRG-1</td>
						<td>Produk A</td>
						<td>100</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>BRG-2</td>
						<td>Produk B</td>
						<td>50</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>BRG-3</td>
						<td>Produk C</td>
						<td>200</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>BRG-4</td>
						<td>Produk D</td>
						<td>400</td>
					</tr>
				</tbody>							
			</table>        
        </div>
                
        <p>
          <a class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span> Tambah</a>
          <a class="btn btn-primary" role="button"><span class="glyphicon glyphicon-remove"></span> Hapus</a>
        </p>      

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
       
 </body>
</html>
